<template>
  <div class="aproposdemoi">
    <a id="titre">A propos de moi</a><br>
    Après avoir passé six ans en tant que gérant de restaurant, j’ai décidé de
    changer de carrière il y a un an pour devenir développeur. J’ai suivi une
    formation de neuf mois en développement web et mobile, où j’ai acquis et
    approfondi de nombreuses compétences, notamment en <a>HTML, CSS, SCSS,
    JavaScript, PHP, Symfony, MySQL, Vue/node.js </a>et bien d’autres. <br>Je m’épanouis
    pleinement dans ce métier et j’ai l’ambition de continuer à approfondir mes
    connaissances. C’est pourquoi j’ai décidé de poursuivre avec une <a>formation
    de concepteur et développeur d’applications.</a> <br> Passionné par la création de
    projets de A à Z, je n’ai pas de préférence entre le back-end et le
    front-end. J’adore le sport, une passion que j’ai cultivée depuis mon plus
    jeune âge. À l’avenir, j’aimerais combiner mes deux passions : le code et le
    sport. <br><br>
    <a>Voici mes coordonnées : </a><br><br>
    <a id="coordonnees">Jonathan Bous <br>
    81100 Castres <br>
    07 83 46 80 74 <br>
    jonathan.bous@hotmail.fr</a>
  </div>
</template>

<script>
export default {
     /* eslint-disable */
    name: "aproposdemoi",
};
</script>

<style>
#titre {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}
.aproposdemoi {
    color: rgb(148 163 184);
    margin-right: 100px;
    margin-top: 100px;
    line-height: 1.5;
    font-size: 15px;
}
a {
    color: rgb(94 234 212);
}

#coordonnees {
    color:white;

}

@media (max-width: 768px) {
  .aproposdemoi {
    margin-right: 0px;
  }
}

</style>
