<template>
  <div class="titreXP">
    Mes experiences </div>
  <div
    v-for="experience in experiences"
    :key="experience.date"
    class="experience"
    @mouseenter="highlightExperience(true, experience)"
    @mouseleave="highlightExperience(false, experience)"
  >
  
    <div class="dateExperience">
      {{ experience.date }}
    </div>
    <div class="infoExperience">
      <p class="titre">{{ experience.titre }}</p>
      <p class="resume">{{ experience.resume }}</p>
      <div class="skills">
        <p v-for="skill in experience.skills" :key="skill" class="skill">
          {{ skill }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: "experience",
  data() {
    return {
      experiences: [
        {
          date: "JANVIER 2024 - FÉVRIER 2024",
          titre: "Stage Développeur Web, Caplaser",
          resume:
            "Au sein d’une équipe de développeurs, j’ai travaillé en étroite collaboration avec la chef de projet, contribuant activement à la réalisation de divers projets. Ma participation s’est étendue à la fois au développement front-end et back-end, avec une implication particulière dans un projet dédié à un vendeur d’équipement professionnel. Ce stage a été une expérience enrichissante, car j’ai eu l’opportunité de présenter ce projet lors de ma soutenance pour ma formation de Développeur Web et Web Mobile.",
          skills: ["WordPress", "JavaScript", "Php", "SCSS"],
        },
        {
          date: "MAI 2023 - MARS 2024",
          titre: "Formation de développeur web et web mobile",
          resume:
            "Formation intensive axée sur les technologies web. J'ai créé quelques projets tels que des site web responsives, ou interfaces utilisateur interactives. J'ai collaboré avec des pairs pour résoudre des problèmes technique et également pour un projet en commun qui a vu le jour (Regain Association à Albi)",
          skills: [
            "HTML",
            "CSS",
            "JavaScript",
            "PHP",
            "MySql",
            "Symfony",
            "React",
          ],
        },
        {
          date: "JANVIER 2019 - FÉVRIER 2023",
          titre: "Gérant de restaurant, Pizza Bamba",
          resume:
            "En tant que gérant, j'ai eu pour mission de superviser les opérations quotidiennes comme la préparation des aliments, le service client et la gestion du personel. Gestion des stocks, des commandes et des coûts. J'ai crée un environnement accueillant et efficace pour la clientèle et également la résolution des problèmes et prise de décisisons rapides pour maintenir la qualité du service. ",
          skills: ["Excel"],
        },
      ],
    };
  },
  methods: {
    highlightExperience(isHighlighted, experience) {
      experience.highlighted = isHighlighted;
    },
  },
};
</script>

<style>
.titreXP {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin-top: 150px;
  margin-bottom: 0px;
  color: rgb(94 234 212);
}
.experience:hover {
  border-radius: 25px;
  background-color: rgba(20, 51, 66, 0.195);
  border: 1px solid rgba(20, 66, 63, 0.398);
}

.experience {
  margin-top: 150px;
  display: flex;
  margin-right: 100px;
}

.titre {
  color: rgb(94 234 212);
  text-align: center;
}

.dateExperience {
  flex-basis: 30%;
  font-size: 12px;
  color: rgb(148 163 184);
  margin-top: 17px;
  padding-left: 20px;
}

.infoExperience {
  flex-basis: 80%;
}

.resume {
  color: rgb(148 163 184);
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  color: rgb(94 234 212);
  background-color: rgba(45, 212, 191, .1);
  width: max-content;
  padding: 10px;
  font-size: 12px;
  border-radius: 999px;
  border: solid 0px rgb(2, 66, 2);
  margin-left: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .experience {
    margin-right: 0px;
  }
}

</style>
