<template>
  <div class="entete">
    <div class="photo">
    <img src="../assets/photo.jpeg" alt="Photo">
    </div>
    <div class="presentation">
      <p>Jonathan Bous</p>
      <p id="metier">Développeur web Junior</p>
      <p id="accroche">
        En recherche d'alternance pour une formation de <a id="cda">Concepteur et développeur d'applications.</a>
      </p>
    </div>
  </div>
  </template>
  
  <script>
  /* eslint-disable */
  export default {
    name: 'Presentation'
  }
  </script>
  
  <style scoped>
  /* Reprends les styles CSS existants pour la présentation */
  .presentation {
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-top: 100px;
    margin-right: 170px;
  }
  
  .entete {
    display: flex;
  }
  .presentation p {
    margin: 0;
  }

  .photo {
    margin-top: 100px;
    margin-left:100px;
    width: 100px;
  }
  .photo img {
    border-radius: 20px;
    width: 70px;
    justify-content: center;
  }
  
  #metier {
    font-size: 20px;
    margin: 0;
  }

  #cda {
    color: rgb(94 234 212);
  }
  
  #accroche {
    font-size: 15px;
    color: rgb(148 163 184);
    margin: 0;
  }
  </style>
  