<template>
  <div class="titreProjet">
    Mes projets </div>
  <div
    v-for="projet in projets"
    :key="projet.image"
    class="experience"
    @mouseenter="highlightExperience(true, projet)"
    @mouseleave="highlightExperience(false, projet)"
  >
    <div class="imageProjet">
      <img :src="projet.image" :alt="projet.titre" />
    </div>
    <div class="infoProjet">
      <p class="titre">{{ projet.titre }}</p>
      <p class="resume">{{ projet.resume }}</p>
      <div class="skills">
        <p v-for="skill in projet.skills" :key="skill" class="skill">
          {{ skill }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: "projet",
  data() {
    return {
      projets: [
        {
          image: require("@/assets/flipit.png"),
          titre: "Flipit, jeu de quizz sportif à pari virtuel",
          resume:
            "Dans un projet personnel, j'allie mes deux passions qui sont le sport et le code, pour vouloir regrouper tous les fans de sport afin qu'ils se defient dans des quizz et jeux sportifs. Le projet est réalisé en Vue.js et node.js",
          skills: ["Node.js", "Vue.js", "JavaScript", "Css", "Express"],
        },
        {
          image: require("@/assets/cineverse.png"),
          titre:
            "Cineverse, une médiathèque regroupant tous les films et séries",
          resume:
            "Avec une API Imdb, réalisation d'une interface ou on peut y voir tous les films/séries existantes, les rechercher et les trier par catégorie.",
          skills: ["HTML", "CSS", "JavaScript", "API", "PHP", "Symfony"],
        },
        {
          image: require("@/assets/quizz.png"),
          titre: "Quizz football",
          resume:
            "En tant qu'amoureux du sport et plus particulièrement du football, j'ai décidé, afin de m'entrainer en javaScript, de créer mon propre quizz football, et de le partager avec mes amis.",
          skills: ["HTML", "CSS", "JavaScript"],
        },
      ],
    };
  },
  methods: {
    highlightExperience(isHighlighted, experience) {
      experience.highlighted = isHighlighted;
    },
  },
};
</script>

<style>

.titreProjet {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin-top: 150px;
  margin-bottom: 0px;
  color: rgb(94 234 212);
}

.projet:hover {
  border-radius: 25px;
  background-color: rgba(20, 51, 66, 0.195);
  border: 1px solid rgba(20, 66, 63, 0.398);
}

.projet {
  margin-top: 150px;
  display: flex;
  margin-right: 100px;
}

.titre {
  color: rgb(94 234 212);
  text-align: center;
}

.imageProjet {
  flex-basis: 30%;
  font-size: 12px;
  color: rgb(148 163 184);
  margin-top: 17px;
  padding-left: 20px;
}

.imageProjet img {
  width: 170px;
}

.infoProjet {
  flex-basis: 80%;
}

.resume {
  color: rgb(148 163 184);
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  color: rgb(94 234 212);
  background-color: rgba(45, 212, 191, 0.1);
  width: max-content;
  padding: 10px;
  font-size: 12px;
  border-radius: 999px;
  border: solid 0px rgb(2, 66, 2);
  margin-left: 10px;
  text-align: center;
}

@media (max-width: 500px) {
  .imageProjet img {
    width: 100px;
  }
}
</style>
