<template>
    <div class="reseaux">
      <a href="https://gitlab.com/JonathanDWWM">
        <img src="../assets/gitlab.png" alt="LogoGitlab">
      </a>
      <a href="https://www.linkedin.com/in/jonathan-bous/">
        <img src="../assets/linkedinlogo.png" alt="LogoLinkedin">
      </a>
    </div>
  </template>
  

<script>
export default {
    name: 'ReseauxSociaux',
}
</script>

<style>
img {
    width: 25px;
    margin-right: 15px;
}

.reseaux {
    margin-left: 300px;
    margin-top: 150px;
}

@media (max-width: 768px) {
  .reseaux {
  margin-left : 30px;
  margin-top: 10px;
  }
}
</style>