<template>
  <div class="sommaire">
    <div class="about">
      <div class="ligne"></div>
      <div class="note_sommaire">A PROPOS DE MOI</div>
    </div>
    <div class="expe">
      <div class="ligne"></div>
      <div class="note_sommaire">EXPERIENCES</div>
    </div>
    <div class="project">
      <div class="ligne"></div>
      <div class="note_sommaire">PROJETS</div>
    </div>
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: "Sommaire",
  }
</script>

<style scoped>
/* Reprends les styles CSS existants pour le sommaire */
.sommaire {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.ligne {
  height: 1px;
  width: 50px;
  background-color: rgb(148 163 184);
  margin-left: 200px;
  margin-right: 25px;
}

.note_sommaire {
  font-weight: bold;
  color: rgb(148 163 184);
}

.about,
.expe,
.project {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.note_sommaire.active {
  font-size: 30px; 
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .sommaire {
    display: none;
  }
}

</style>
