<template>
  <div class="container">
    <div class="section_left">
      <Presentation />
      <Sommaire />
      <ReseauxSociaux />
    </div>
    <div class="section_right">
      <Aproposdemoi />
      <Experience />
      <Projet />
    </div>
  </div>
</template>

<script>
import Presentation from './components/presentation'
import Sommaire from './components/sommaire'
import ReseauxSociaux from './components/reseauxsociaux'
import Aproposdemoi from './components/aproposdemoi'
import Experience from './components/experience'
import Projet from './components/projets'


export default {
  name: 'App',
  components: {
    Presentation,
    Sommaire,
    ReseauxSociaux,
    Aproposdemoi,
    Experience,
    Projet,
  }
}
</script>

<style>

@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}

body {
  background-color: #182745;
}

.container {
  display: flex;
}

.section_left {
  flex: 50%;
}

.section_right {
  flex: 50%;
  overflow-y: auto;
  height: 98vh;
}

@media (max-width: 768px) {
  
  .section_left {
    position: relative;
    flex: 1;
    width: auto;
    max-width: 50%; /* Vous pouvez ajuster cette valeur selon vos besoins */
    height: 100%;
    margin-bottom: auto;
  }
  .section_right {
    position: relative;
    flex: 1;
    width: auto;
    margin-top: 350px;
    margin-left: -350px;
  }
}

@media (max-width: 500px) {
  .section_right {
  margin-left: -180px;
  }
}

</style>
